#!/usr/bin/env bash

alias vim='nvim'
alias view='nvim -R'

alias python='python3'
alias pip='pip3'

alias ack='ack --ignore-dir=fixtures'
alias pyack='ack --py --ignore-dir=fixtures'

alias doc='docker-compose'
alias stopall='docker stop $(docker ps -a -q)'
alias killall='docker kill $(docker ps -q)'
alias prune='docker system prune -f --volumes'
alias docker_clean='docker images --format '{{.ID}}' | tail -n +8 | xargs -r docker rmi -f && docker system prune -f --volumes'

echo ".aliases sourced"
